div.book__wrapper.source-remote {
  border-style: dashed;
  border-width: 3px;
  border-color: #d4d4d4;
  background-color: transparent;
}

div.book__wrapper.source-local {
  border-width: 3px;
}

.kiwixfooter.error {
  color: #8b2b13;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
